@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Open+Sans&family=Roboto&display=swap');


/*generic-classes*/
.transition{
  transition: all 0.2s ease-in-out;
}
a{
  text-decoration: none;
}
.selected{
  color: #FFDFBA;
}

/*<----------->*/

.main-container{
  height: 85vh;
  width: 100vw;
  display: flex;
}

.header{
  height: 15vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  font-family: 'Edu VIC WA NT Beginner';
}

.logo-container{
  width: 25vw;
  display: flex;
}
.header-logo{
  width: 10vh;
  height: 10vh;
  box-shadow: 0 0 20px lightgray;
  object-fit: cover;
  margin-left: 40px;
  cursor: pointer;
}
.header-logo:hover{
  box-shadow: 0 0 20px darkgray;
}

.header-list{
  display: flex;
  justify-content: space-evenly;
}
.links{
  width: 50vw;
}
.user-menu{
  width: 25vw;
}
.header-link{
  font-size: 1.5em;
  cursor: pointer;
}
.links>li{
  padding: 0.5em;
}
.links>li:hover{
  background-color: #FFDFBA;
}
.links>li:hover .header-link{
  color: rgb(97, 97, 97);
}

.user-menu>li>span:hover{
  cursor: pointer;
  color: darkolivegreen;
}

.total-cart{
  visibility: hidden;
}
.user-menu>li{
  display: flex;
  align-items: center;
}
.user-menu>li:hover .total-cart{
  visibility: visible;
}


/*------Home Page-----*/
.home-container{
  width: 100%;
  height: 100%;
  background-image: url('../images/airpods_hero.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'open sans';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.main-text{
  color: white;
  width: 40%;
  font-size: 4em;
  margin-bottom: 10vh;
  font-weight: 900;
}
.shop-button{
  font-size: 3em;
  padding: 0.4em;
  margin-bottom: 10vh;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.shop-button:hover{
  background-color: white;
  color: black;
}

/*Shop Page*/

.main-container{
  font-family: 'Roboto';
}

.sidebar{
  width: 16%;
  height: 90.5%;
  background-color: lightgray;
  padding: 2%;
  overflow: scroll;
  display: flex;
}
.sidebar-heading{
  font-size: 1.5em;
  margin-bottom: 30px;
  text-align: left;
}
.filters-container{
  display: flex;
  flex-direction: column;
  gap: 20vh;
  height: 100%;
  padding-top: 1vh;
}
label{
  display: flex;
  align-items: center;
  gap: 0.2vw;
  font-size: 1.2em;
  cursor: pointer;
}
.sidebar-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}



/*--Product Card--*/
.products-container{
  width: 84%;
  display: grid;
  overflow: scroll;
  grid-template-columns: repeat(3, 300px);
  gap: 50px;
  padding: 30px;
}
.product-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-image{
  width: 250px;
  height: 250px;
}
.product-card:hover{
  box-shadow: 0 0 30px lightgray;
}
.product-price{
  width: 250px;
  text-align: left;
  color: gray;
}
.product-heading{
  text-transform: capitalize;
  width: 250px;
  font-size: 1.3em;
  text-align: left;
}
.delivery-time{
  width: 250px;
  text-align: left;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: olivedrab;
  margin-top: -8px;
  gap: 5px;
}
.delivery-time>span{
  font-size: 0.8em;
}
.add-to-button{
  width: 200px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 15px;
}
.add-to-button:hover{
  background-color: #FFDFBA;
}


/*extra styling */

input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #FFDFBA;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FFDFBA;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
